<footer class="wrap bg-blush text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="hidden-md-up"><%= dato.static_content.donation_header %></p>
        <p class="lead hidden-sm-down mr-md-4 d-inline"><%= dato.static_content.donation_header %></p>
        <a href="#donate" class="btn btn-outline-secondary"><%= dato.static_content.donation_button_text %></a>
      </div>
      <div class="col-12 mt-4 disclaimer">
        <small><%= current_page.data.disclaimer %></small>
      </div>
    </div>
  </div>
</footer>


<%= google_analytics_tag %>