<%= partial "includes/header" %>

<%= partial "includes/nav" %>

<section class="wrap title">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-thumbnail img-main" src="/images/logos/<%= organization.url_title %>-logo-card.jpg" alt="<%= organization.name %> logo">
      </div>
      <div class="col-md-6">
        <h1 class="text-md-left mt-md-4"><%= dato.static_content.backs_hate_header %></h1>
      </div>
    </div>
    <div class="row justify-content-center py-4 mt-md-4">
      <div class="hidden-sm-down col-md-2 sideline"></div>
      <div class="col-12 col-md-8">
        <h2 class="font-italic"><%= organization.summary %></h2>
      </div>
      <div class="hidden-sm-down col-md-2 sideline"></div>
    </div>
  </div>
</section>

<section class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= dato.static_content.administration_ties_header_text %></h1>
      </div>
      <div class="col-12 mt-4">
        <div class="row evidence-wrapper">
          <% get_fields(organization, "ties").times do |e| %>
            <% unless organization.send("ties_#{e+1}").blank? %>
              <div class="col-md item"><p class="evidence"><%= organization.send("ties_#{e+1}") %></p></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "includes/cta_section" %>

<section class="wrap bg-grade-lightgray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="profit-model-title"><%= dato.static_content.profiting_from_agenda_header_text %></h1>
        <div class="row justify-content-center">
          <div class="hidden-md-down col-lg-2 sideline"></div>
          <div class="col-12 col-lg-8">
            <p class="text-justify"><%= organization.profit %></p>
          </div>
          <div class="hidden-md-down col-lg-2 sideline"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wrap bg-grade-darkgray">
  <div class="container">
    <div class="row underline">
      <div class="col-12 col-lg-6">
        <h1 class="ellipsis"><%= dato.static_content.demands_header_text %></h1>
      </div>
      <div class="col-12 col-lg-6">
        <ol>
          <% get_fields(organization, "demands").times do |e| %>
            <% unless organization.send("demands_#{e+1}").blank? %>
              <li><p><%= organization.send("demands_#{e+1}") %></p></li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="row" id="email">
      <div class="col-12">
        <% if locale.to_s == "es" %>
          <div id='embedForm' data-submit=<%= dato.static_content.submit_petition_text %> data-comment="Escriba su carta" style='width: 100%'></div>
        <% else %>
          <div id='embedForm' data-submit=<%= dato.static_content.submit_petition_text %> data-comment="Write your letter" style='width: 100%'></div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="wrap bg-grade-lightgray">
  <div class="container">
    <div class="row text-center text-sm-left">
      <div class="col-12 col-md-12">
        <h1>CEO: <%= organization.ceo %></h1>
        <a href=<%= organization.corporate_profile.nil? ? "#" : organization.corporate_profile.url %> target="_blank">
          <%= dato.static_content.full_corporate_profile_button_text %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= dato.static_content.board_of_directors_header %></h1>
        <div class="row">
        <% data.board_members.select { |board| board.name == organization.url_title }.first.board.each_with_index do |b,i| %>
          <div class="col-sm-6 col-lg-3">
            <h2 class="name"><%= b.name %></h2>
            <p class="font-small-lg"><%= b.position %></p>
          </div>
          <% if (i + 1) % 4 == 0 %>
        </div>
        <div class="row">
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "includes/cta_section" %>

<%= partial "includes/social", 
    locals: { 
      url: "http://www.backersofhate.org/#{current_page.path}",
      facebook_share_title: (organization.facebook_share_title.blank? ? "" : CGI::escape(organization.facebook_share_title)),
      facebook_share_text: (organization.facebook_share_text.blank? ? "" : CGI::escape(organization.facebook_share_text)),
      twitter_share_text: CGI::escape(organization.twitter_share_text),
      picture: "https://s3.amazonaws.com/www.backersofhate.org/images/boh_fb_#{locale}.png" 
    } 
  %>

<section class="wrap">
  <div class="container">
    <div id="next-block" class="row">
      <div class="col-12">
        <h1 class="text-center"><%= dato.static_content.whos_next_header %></h1>
        <div class="row">
          <div class="col-6">
            <a href=<%= "/#{locale}/#{whos_next[0]}.html" %>>
              <img class="img-thumbnail img-nav" src="/images/logos/<%= whos_next[0] %>-logo-card.jpg" alt="<%= whos_next[0] %> logo">
            </a>
          </div>
          <div class="col-6">
            <a href=<%= "/#{locale}/#{whos_next[1]}.html" %>>
              <img class="img-thumbnail img-nav" src="/images/logos/<%= whos_next[1] %>-logo-card.jpg" alt="<%= whos_next[1] %> logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /container -->

<%= partial "includes/footer" %>

<script src='<%= organization.action_network_action_link %>?format=js&source=widget&can_widget_id=embedForm'></script>
