<%= partial "includes/header", locals: { locale: locale } %>

<%= partial "includes/nav" %>

<div class="container">
  <div class="row justify-content-center py-4">
    <div class="hidden-sm-down col-md-2 sideline"></div>
    <div class="col-12 col-md-8">
      <h2 class="font-italic"><%= dato.static_content.summary %></h2>
      <h5><%= dato.static_content.home_page_disclaimer %></h5>
    </div>
    <div class="hidden-sm-down col-md-2 sideline"></div>
  </div>
  <div class="row">
  <% dato.organizations.each_with_index do |organization,i| %>
    <div class="col-12 col-md-4 business-card">
      <div class="logo">
        <a href="<%= organization.url_title %>.html">
          <img class="img-fluid" src="/images/logos/<%= organization.url_title %>-logo-card.jpg" alt="<%= organization.name %> logo">
        </a>
      </div>
      <p class="my-4"><%= organization.summary %></p>
      <a href="<%= organization.url_title %>.html" class="btn btn-grey"><%= dato.static_content.email_trigger_button %></a>
    </div>
    <% if (i + 1) % 3 == 0 %>
  </div><div class="row">
    <% end %>
  <% end %>
  </div>
</div> <!-- /container -->

<%= partial "includes/social", locals: { url: "http://www.backersofhate.org.s3-website-us-east-1.amazonaws.com/en/goldman-sachs.html", facebook_share_text: "Hate the haters!", twitter_share_text: "", twitter_handle: "" } %>

<%= partial "includes/footer" %>
