---
title: Home page
siteTitle: Backers of Hate
summery: One short sentence here about why this is happening and what goes on once blah blah blah
callToActionBtnText: Give em hell
share:
  facebook: This is the facebook share text
  twitter_text: This is the twitter share text
  twitter_via: twitter_handle
disclaimer: Full corporates profile outlining why we say this company backs hate available on company pages (click above).
footer_ask: Like our site? Keep it going.
donateBtn: Make a Donation Today
---

<%= partial "includes/header", locals: { locale: locale } %>

<%= partial "includes/nav" %>

<div class="container">
  <div class="row justify-content-center py-4">
    <div class="hidden-sm-down col-md-2 sideline"></div>
    <div class="col-12 col-md-8">
      <h2 class="font-italic"><%= dato.static_content.summary %></h2>
    </div>
    <div class="hidden-sm-down col-md-2 sideline"></div>
  </div>
  <div class="row">
  <% data.companies.each_with_index do |c,i| %>
    <div class="col-12 col-md-4 business-card">
      <div class="logo">
        <img class="img-fluid" src="/images/logos/<%= c.logo %>" alt="<%= c.name %> logo">
      </div>
      <p class="my-4"><%= c.summery %></p>
      <a href="<%= c.url %>" class="btn btn-grey"><%= current_page.data.callToActionBtnText %></a>
    </div>
    <% if (i + 1) % 3 == 0 %>
  </div><div class="row">
    <% end %>
  <% end %>
  </div>
</div> <!-- /container -->

<%= partial "includes/social" %>

<%= partial "includes/footer" %>
