---
title: Card page
titles:
 profit_model: Profit Model
callToActionBtnText: Give em hell
submitText: Give em hell
canURL:
  letter: https://actionnetwork.org/widgets/v2/letter/send-a-letter-to-corporate-backers-of-hate
  petition: https://actionnetwork.org/widgets/v2/petition/stop-supporting-hate
emailLead: Let them know how you feel
---

<header class="container mb-4">
  <div class="row">
    <div class="col-sm-12">
      <h1><a href="index.html">Backers of Hate</a></h1>
    </div>
  </div>
</header>


<div class="container">
  <section class="row title">
    <div class="col-md-6">
      <img class="img-fluid" src="images/logos/<%= data.companies[0].logo %>" alt="<%= data.companies[0].name %> logo">
    </div>
    <div class="col-md-6">
      <h1 class="text-md-left">Backs Hate</h1>
    </div>
    <div class="col-12 mt-4">
        <div class="row evidence-wrapper">
          <% data.companies[0].evidence.each do |e| %>
          <div class="col-md item"><p class="evidence"><%= e %></p></div>
          <% end %>
        </div>
    </div>
  </section>

  <%= partial "includes/cta_section" %>

  <section class="row collapse" id="email">
    <div class="col-12">
      <!-- <script src='https://actionnetwork.org/widgets/v2/petition/stop-supporting-hate?format=js&source=widget'></script>
      <div id='can-petition-area-stop-supporting-hate' style='width: 100%'></div> -->
      <script src='<%= current_page.data.canURL.petition %>?format=js&source=widget&can_widget_id=embedForm'></script>
      <div id='embedForm' data-submit="<%= current_page.data.submitText %>" style='width: 100%'></div>
    </div>
  </section>

  <section class="row bg-grade-lightgray">
    <div class="col-12">
      <h1 class="profit-model-title"><%= current_page.data.titles.profit_model %></h1>
      <p class="text-justify"><%= data.companies[0].profit %></p>
    </div>
  </section>

  <section class="row">
    <div class="col-12">
      <h1>Ties to Administration</h1>
      <% data.companies[0].ties.each do |e| %>
      <p class="left-block-dark"><%= e %></p>
      <% end %>
    </div>
  </section>

  <section class="row bg-grade-gray">
    <div class="col-12">
      <img class="img-thumbnail float-left mr-4" src="images/ceo.png" alt="Headshot of <%= data.companies[0].ceo %>">
      <h1><%= data.companies[0].ceo %></h1>
    </div>
    <div class="col-12 mt-4 "><a href="#email" class="btn btn-primary btn-lg"><%= current_page.data.callToActionBtnText %></a></div>
  </section>

  <section class="row ">
    <div class="col-12">
      <h1 class="ellipsis">Our Demands</h1>
      <ol>
        <% data.companies[0].demands.each do |e| %>
        <li class="mb-2"><%= e %></li>
        <% end %>
      </ol>
    </div>
  </section>

  <section class="row">
    <div class="col-12">
      <h1>Board of Directors</h1>
      <div class="row mt-4">
      <% data.companies[0].board.each_with_index do |b,i| %>
        <div class="col-6 col-lg-4">
          <h2 class="name"><%= b.name %></h2>
          <p><%= b.position %></p>
        </div>
        <% if (i + 1) % 2 == 0 %>
      </div>
      <div class="row">
        <% end %>
      <% end %>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-12 text-center"><a href="#email" class="btn btn-primary btn-lg"><%= current_page.data.callToActionBtnText %></a></div>
  </section>

  <section class="row">
    <div class="col-12">
      <h1>Who's Next?</h1>
      <div class="row">
        <div class="col-6">
          <img class="img-thumbnail" src="images/logos/<%= data.companies[8].logo %>" alt="<%= data.companies[8].name %> logo">
        </div>
        <div class="col-6">
          <img class="img-thumbnail" src="images/logos/<%= data.companies[1].logo %>" alt="<%= data.companies[1].name %> logo">
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-12 text-center">
      <p>Like our site? Keep it going.</p>
      <a href="#donate" class="btn btn-primary btn-lg">make a donation today</a>
    </div>
  </section>
</div> <!-- /container -->
