---
title: Home page
---

<header class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Backers of Hate</h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
  <% data.companies.each_with_index do |c,i| %>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/images/logos/<%= c.logo %>" alt="<%= c.name %> logo">
        <div class="card-block">
          <h4 class="card-title"><%= c.name %></h4>
          <p class="card-text"><%= c.summery %></p>
          <a href="/<%= c.url %>" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <% if (i + 1) % 3 == 0 %>
  </div><div class="row">
    <% end %>
  <% end %>
  </div>
</div>

  <hr>

  <footer>
    <p>&copy; Backers of Hate 2017</p>
  </footer>
</div> <!-- /container -->
